<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Welcome to {{project.project_name|title}}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load static %}
  <link href="{% static 'base/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'base/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="{{project.primary_colour}} text-{{project.secondary_colour}}" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        {% if project.logo %}
        <img src="{{project.logo.url}}" height="50" width="50" alt="Logo" style="margin-top:5px;">
        {% else %}
        Logo
        {% endif %}
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center {{project.primary_colour}}-text text-{{project.primary_accent_colour}}">{{project.project_name|title}}</h1>
        <div class="row center">
          <h5 class="header col s12 {{project.secondary_accent_colour}}">{{project.tagline|linebreaks}}</h5>
        </div>
        <div class="row center">
         <a href="#" id="download-button" class="btn-large waves-effect waves-{{project.secondary_accent_colour}} {{project.primary_colour}} {{project.primary_accent_colour}}">Get Started</a>
       </div>
       <br><br>

     </div>
   </div>
   <div class="parallax"><img src="{% if project.background_image_1 %}
    {{project.background_image_1.url}}
    {% else  %}
    {% static 'base/imgs/background1.jpg' %}
    {% endif %}" alt="Unsplashed background img 1"></div>
 </div>


 <div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center {{project.secondary_colour}}-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="{{project.secondary_accent_colour}}">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center {{project.secondary_colour}}-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="{{project.secondary_accent_colour}}">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center {{project.secondary_colour}}-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="{{project.secondary_accent_colour}}">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 {{project.secondary_accent_colour}}">{{project.description|linebreaks}}</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="
    {% if project.background_image_2 %}
    {{project.background_image_2.url}}
    {% else  %}
    {% static 'base/imgs/background2.jpg' %}
    {% endif %}
    " alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send {{project.secondary_colour}}-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align {{project.secondary_accent_colour}}">
            {{project.contact_details|linebreaks}}
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 {{project.secondary_accent_colour}}">{{project.tagline}}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% if project.background_image_3 %}
    {{project.background_image_3.url}}
    {% else  %}
    {% static 'base/imgs/background3.jpg' %}
    {% endif %}" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer {{project.primary_colour}}">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">{{project.company_bio|safe}}</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="{{project.secondary_colour}}-text text-lighten-3" href="#">{{project.project_name}}</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'base/js/materialize.js' %}"></script>
  <script src="{% static 'base/js/init.js' %}"></script>

</body>
</html>
